.lowUV{
    color: white;
    background-color: green;
}
.moderateUV{
    /* color: white; */
    background-color: yellow;
}
.highUV{
    color: white;
    background-color: red;
}
li{
    list-style-type: none;
}
li:hover {
    font-size: large;
}